.details-display {
    display: flex;
    justify-content: space-between;
}

.action{
    display: flex;
    margin-block: auto;
    flex-direction: column;
    gap: 1rem;
}

.light-gray-80 {
    background-color: rgba(211, 211, 211, 0.8);
}
