body {
    background-image: url('/Assets/Background/Warehouse.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
